<!--heroes.vtl-->
<h1>List of Heroes</h1>

#if ($heroes)
  <ul>
    #foreach ($hero in $heroes)
      <li><a href="/heroes/$hero.getId()">$hero.getName()</a></li>
    #end
  </ul>
#else
  <p>Oh noes! There are no heroes! Who will save us now?</p>
#end

<a href="/heroes/new">Add New Hero</a><br>
<a href="/squads">All squads</a>
<!--heroes.vtl-->
