<!--heroes.vtl-->
<h1>hero list!</h1>

#if ($heroes)
  <ul>
    #foreach ($hero in $heroes)
      <li><a href="/heroes/$hero.getId()">$hero.getName()</a></li>
    #end
  </ul>
#else
  <p>Oh noes! There are no heroes! Who will save us now?</p>
#end

<a href="/heroes/new">Add New Hero</a>
<!--heroes.vtl-->
