<!--hero.vtl-->
<h1>$hero.getName()</h1>
<h2>Age: $hero.getAge()</h2>
<h2>Special Power: $hero.getSPower()</h2>
<h2>Weakness: $hero.getWeakness()</h2>


<a href="/heroes/new">Add another hero</a><br>
<a href="/heroes">All Heroes</a>
<!--hero.vtl-->
