<!--squad-form.vtl-->
<h1>Add a squad</h1>

<form action="/squads" method="post">
  <label for="squadName">Squad Name</label>
  <input id="squadName" name="squadName" type="text">
  <label for="squadSize">Squad Size</label>
  <input id="squadSize" name="squadSize" type="text">
  <label for="cause">Cause</label>
  <input id="cause" name="cause" type="text">
  <button type="submit" class="btn btn-success">Add New Squad</button>
</form>
<!--squad-form.vtl-->
