<!--squad-form.vtl-->
<h1>Add a squad</h1>

<p>Add a squad here:</p>

<form action="/squads" method="post">
  <label for="squadName">Squad Name</label>
  <input id="squadName" name="squadName" type="text">
  <button type="submit" class="btn btn-success">Add New Squad</button>
</form>
<!--squad-form.vtl-->
